@using Microsoft.AspNetCore.Components.Web
<h3>AlertMeterWrapper</h3>


<div style="width:100%; height:100%">

    <AlertMeter01.Views.Components.AlertMeterControl Left="10px" Top="10px" Scale="1" />


</div>


@code {

}
